body {
  padding: 5% 18%;
}

.card img {
    height:200px;
    width:100%;
}


.card {
  margin: 2% 0;
  padding-bottom: -9%;
}
/*====================================*/
.card-title {
font-size: 130%;
}

.card-deck {
  margin-bottom: 3%;
}

/*====================================*/

#about {
text-align: center;
padding: 0 15%;
}

#name {
font-weight: 250;
}

#lin {
	padding: 0 1%;
}

#icons {
	display: flex;
  	align-items: center;
  	justify-content: center;
    padding-bottom: 5%;
}

#me {
border-radius: 50%;
height: 20%;
width: 20%;
text-align: center;
}

#portfolio {
font-size: 25px;
font-weight: 120;
}

#bio {
text-align: center;
}
