body {
	padding: 3% 22%;
}

@media only screen and (max-width: 40em) { 
    body {
	  margin:0px;	
      padding:0px;
    }			
}

h3 {
	text-align: center;
}

iframe {
	display: flex;
	align-items: center;
}

p {
	text-align: justify;
}

p img {
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
	text-align: center;
	text-transform: 5%;
}

h1 {
	text-align: center;
}

#soundimgs {
	display: flex;
	align-items: center;
	justify-content: center;
}

#api #turing{
	text-transform: capitalize;
}

.figure {
	padding: 5px 20px;
	width: 60%;
	height: 50%;
	margin: 0 auto;
}

#lightpic {
	height: 60%;
	width: 60%;
	margin: 0 18%;
}

#potimg {
	height: 60%;
	width: 60%;
	margin: 0 20%;
}

.figure-caption {
	padding-top: 2%;
}

.row {
	padding-top: 2%
}