body {
	padding: 3% 22%;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
 
#stiffnessp {
	padding-top: 2%;
}
#backbtn {
	margin-top: 3%
}

@media only screen and (max-width: 40em) { 
    body {
	  margin:0px;	
      padding:0px;
    }			
}

h3 {
	text-align: center;
}

iframe {
	display: flex;
	align-items: center;
}

p {
	text-align: justify;
}

p img {
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
	text-align: center;
	text-transform: 5%;
}

h1 {
	text-align: center;
}

.threee {
	padding: 1% 1%;
}

#soundimgs {
	display: flex;
	align-items: center;
	justify-content: center;
}

#api #turing{
	text-transform: capitalize;
}