body {
padding: 5% 5%;
}

@media only screen and (max-width: 40em) { 
    body {
	  margin:0px;	
      padding:0px;
    }			
}

#about {
text-align: center;
padding: 0 15%;
}

#name {
font-weight: 250;
}

.card {
padding: 5% 5%;
margin: 2% 2%;
}

.card-title {
font-size: 30px;
}

#lin {
	padding: 0 1%;
}

#icons {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#me {
border-radius: 50%;
height: 20%;
width: 20%;
text-align: center;
}

#portfolio {
font-size: 25px;
font-weight: 120;
}

#outside {
padding: 0 10%;
}

#bio {
text-align: center;
}

.card-subtitle {
padding: 3% 0;
}
