body {
	padding: 3% 22%;
}

@media only screen and (max-width: 600px) { 
    body {
	  margin:0px;	
      padding:0px;
    }			
}

#drawone {
	padding-bottom: 2%;
	margin-bottom: 2%;
}


#backbtn {
	margin-top: 3%;
}

h3 {
	text-align: center;
}

iframe {
	display: flex;
	align-items: center;
}

h5 {
	text-align: center;
	text-transform: 5%;
}

h1 {
	text-align: center;
}

#cadpics {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

img	{
	height: 90%;
	width: 90%;
	padding-left: 5%;
}

p {
	padding-left: 5%;
	padding-top: 1%;
}